<!DOCTYPE html>
    <head>
        <title>Quest</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- View Port -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Links -->
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/response.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    </head>
    <body class="body dark">
        <div id="home" class="content">
            <header>
                <a href="/">
                    <div class="logo">
                        <img src="/images/logo-quest.png" alt="Quest logo">
                        <h1>Quest</h1>
                    </div>
                </a>
            </header>

            <div >
                <div id="bg"></div>
                <div class="ball top"></div>
                <div class="ball bottom"></div>
            </div>
     
            <main>
                <div class="container">
                    <!-- Vai renderizar a part correta de acordo com a url-->
                    <%- include(`parts/${page}`)  %>
                </div>
            </main>
        </div>

        <!--Scripts-->
        <script defer src="/scripts/dark-mode.js"></script>
        <script defer src="https://kit.fontawesome.com/8fca9ad240.js" crossorigin="anonymous"></script>
        
    </body>
</html>