<section class="form-login-register">
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Digite sua Senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
        <button class="start-button"> <img src="/img/users-white.svg" alt="Entrar na sala"> Criar sala</button>
    </form>
</section>